MONGODB_URI=mongodb+srv://abhikommana_db_user:MgTqK9QmKtcuvGgk@student-data.yqs2stc.mongodb.net/?appName=Student-data
NEXTAUTH_SECRET=Abhilash_smart_management_system
NEXTAUTH_URL=http://localhost:3000